<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="<%= BASE_URL %>python-icon.svg">
    <link rel="alternate icon" href="<%= BASE_URL %>python-icon.svg">
    <link rel="shortcut icon" href="<%= BASE_URL %>python-icon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <title><%= htmlWebpackPlugin.options.title %></title>

    <style>
      /* Force dark theme immediately to prevent flash */
      html, body {
        background-color: #1e1e1e;
        color: #d4d4d4;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but the Admin Panel doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
